.register{
    background-color: #282c34;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

.register_container {
    /* heigth:
      width: */
    margin-top: 2px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(30deg, rgba(2,0,36,1) 7%, rgba(9,9,121,1) 41%, rgba(180,0,255,1) 100%);
  }
  
  .register_container > h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .register_container > form > center > input {
    /* height: 30px; */
    margin-bottom: 10px;
    background-color: white;
    width: 50px;
    border: solid red 15px;
  }


