.home-container{
  height: 100vh;
  width: 100vw;
  background-color: midnightblue;

}

.name{
  color: white;
  width: 75%;
  height: 1.5em;
  margin-left: 100px;
}

                    /**======NAVBAR======== **/
.navbar {
  width: 75%;
  height: 1.5em;
  border: 2px solid yellow;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
                /**======ABOUT/ASIDE======= **/
.About-container{
  color: white;
  border: solid red 5px;
  height: 100px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 400px;
  margin-bottom: -100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share_post{
    margin-left: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_posts{
    border: solid red 5px;
    height: 250px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 33 33 33 1em;
}

