.app{
  /* background-color: #f3f2ef; */
  background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  object-fit: contain;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.app_body{
  display:flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}