body {
  text-align: center;
}
/** App CSS **/

.App-header-footer{
  align-items: center;
}


/** Login CSS **/


/** Register CSS **/


/** Profile CSS **/
.logout {
  height: 100vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .logout {
    animation: logout-spin infinite 20s linear;
  }
}

.header {
  height: 10vmin;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  color: #61dafb;
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes logout-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Settings CSS **/