body {
  text-align: center;
}
/** App CSS **/

.App-header-footer{
  text-align: center;
}

/** LOGIN CSS **/



input{
  margin: 5px 0 1px .5em;
  border: 1px solid black;
  position: relative;
 
}

.login-wrapper{
  color:white;
  position: absolute;
  padding: 10px 40px 15px 2em;
  margin: 25px 180px 0 12em;
  background:linear-gradient(to right,rgb(61, 61, 61) 0%,#222 100%);
  border: solid pink 3px;
}

#login{

  position: absolute;
  padding: 7px;
  width: 55px;
  margin-left: -50px;
  margin-top: 20px;
  background-color:#282c34;
  font-weight: bolder;
  justify-content: space-evenly;
  font-size: 10px;
  color:blanchedalmond;
  border: solid pink 2px;
}

#login:active {
  box-shadow:15px 10px 8px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%);
}

#register{
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  padding: 7px;
  background-color:#282c34;
  font-weight: bolder;
  font-size: 10px;
  color:blanchedalmond;
  border: solid pink 2px;
}

#register:active {
  box-shadow:15px 10px 8px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%);
}


/** REGISTER CSS **/

.form{
  justify-content: center;
  align-items: center;
  position: fixed;
  color: white;
  padding: 10px 15px 20px 10px;
  margin: 25px 0 0 8em;
  border: solid pink 3px;
  background:linear-gradient(to right,rgb(61, 61, 61) 0%,#222 100%);
}

p{
  font-size: small;
  text-align: right;
}

#submit{
  margin-left: 20px;
  padding: 7px;
  width: 45px;
  background:#282c34;
  font-weight: bolder;
  font-size: 10px;
  color:blanchedalmond;
  border: solid pink 2px;
}

#submit:active {
  box-shadow: 15px 10px 8px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%);
}

/** PROFILE CSS **/

                    /**======LOGOUT======== **/
/* .logout-link {
  height: 10vmin;
  pointer-events:stroke;
}

@media (prefers-reduced-motion: no-preference) {
  .logout-link {
    animation: logout-link-spin infinite 20s linear;
    
  }
}

@keyframes logout-link-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
} */

#logout{
  margin: 0 90px 0 0;
  font-size: 10px;
  color: white;
  display: flex;
  flex-direction: row-reverse;
}

                    /**======HEADER======== **/
.header {
  height: 10vmin;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

                    /**======NAVBAR======== **/
.navbar {
  margin: 0% 10% 5% 10%;
  width: 75%;
  height: 1.5em;
  border: 2px solid yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

h6{
  color: #61dafb;
  padding: 10px;
}

h6:hover{
  color: palevioletred;
  float: left;
}


/** SETTINGS CSS **/